@model PruebaProgra2.Models.PrioridadesTarea

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Prioridad</h1>

<h3>Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>PrioridadesTarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelPrioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelPrioridad)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PrioridadId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Atrás</a>
    </form>
</div>
